<h3>Shopping Cart:</h3>
{{#each shoppingCart.items as |item|}}
  <li>{{item.name}} -- ${{item.price}}</li>
  <button {{action 'removeFromCart' item}}>remove</button>
{{/each}}
<p>Total: ${{shoppingCart.cartTotal}}</p>
