<h3>Shopping Cart:</h3>
{{#each shoppingCart.items as |item|}}
  <li><button class="btn btn-primary btn-xs" {{action 'removeFromCart' item}}><span class="glyphicon glyphicon-minus"></span></button>
    {{item.name}} -${{item.price}}
</li>
{{/each}}
<p>Total: ${{shoppingCart.cartTotal}}</p>
