{{yield}}
<h4>Strains Grown By</h4>
<li>{{grower.name}}</li>
<li>{{grower.location}}</li>

{{#each grower.strains as |strain|}}
{{strain-tile strain=strain}}
<hr>
{{/each}}
<!-- {{#each model.strains as |strain|}}
<li>hello</li>
{{/each}} -->
