<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    </div>
  </div>
</nav>

<div class="container application">
  {{outlet}}
</div>
